<h1>Welcome to the car simulator</h1>

<form action='/cars/create' method='get'>
  Make:<br />
  <input type="text" name="make" /><br />
  Model Year:<br />
  <input type="text" name="model_year" /><br />
  <input type="submit" value="Simulate Car" />
</form>
